.denial-container {
  width: 95%;
  margin: auto;
}

.stage-name {
  color: #D8BFC5;
  font-family: 'Lora', serif;
  font-size: 1.5em;
  margin-top: 35px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.subheader {
  color: #DF744A;
  font-family: 'Spectral SC', serif;
}

.helpful-apps {
  display: flex;
  justify-content: center;
}