.mission-statement {
  width: 95%;
  padding-left: 20px;
}

.mission-statement-header {
  color: #D8BFC5;
  font-family: 'Lora', serif;
  font-size: 2.5em;
  padding-top: 35px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.mission-statement-body {
  padding-top: 0;
  margin-top: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
  text-align: justify;
}

.understanding-grief-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stages-of-grief-image {
  align-self: center;
}

.understanding-grief-title {
  position: relative;
}

.understanding-grief-title span {
  font-family: 'Bungee', cursive;
  color: #DF744A;
  font-size: 2.5em;
  position: absolute;
}

.understanding-grief-title p {
  font-family: 'Orbitron', sans-serif;
  color: #DCB239;
  padding-top: 30px;
  position: absolute;
}

.understanding-grief-body {
  width: 90%;
}

.understanding-grief-body dl {
  font-size: 13px;
  padding-top: 70px;
}

.grief-explanation {
  color: #696969;
}

.heart-bullet {
  color: #DF744A;
}

.disclaimer-container {
  width: 95%;
  padding: 10px 0 0;
  margin: auto;
}

.disclaimer-header {
  float: left;
  font-family: 'Spectral SC', serif;
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 2px;
  margin-right: 4px;
}

.disclaimer-body {
  margin-top: 0;
  font-size: 10px;
  color: #9099A2;
  text-align: left;
  text-align: justify;
}