.navigation-bar {
  display: flex;
  justify-content: center;
  float: right;
  margin-bottom: 5px;
}

.navigation-text {
  text-decoration: none;
  padding-right: 25px;
  color: #696969;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.navigation-text:hover {
  text-decoration: overline;
  color: #003399;
}