ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.options {
  display: flex;
  justify-content: center;
}

.options li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.journal-entries-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.journal-entries-list-container li {
  margin: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 1%
}