.quote-body {
  padding-top: 40px;
  padding-bottom: 0;
  font-size: 16px;
  text-align: center;
  font-family: 'Spectral SC', serif;
}

.hidden-text {
  display: none;
}

.div-for-hover-item {
  padding-bottom: 20px;
}

.div-for-hover-item:hover .hidden-text {
  display: block;
  font-size: 11px;
  color: #D5D5D5;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-family: 'Spectral SC', serif;
}

hr {
  width: 85%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #DF744A, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #DF744A, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #DF744A, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #DF744A, #f0f0f0);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.options {
  display: flex;
  justify-content: center;
}

.options li {
  padding-top: 40px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.add-button {
  border: none;
}

.fa-quote-add {
  padding: .2em .25em .15em;
  border: solid 3px #BFD8D2;
  border-radius: .9em;
  float: left;
  font-size: 3em;
  margin-left: 10px;
}

.journal-entry-form-container {
  text-align: center;
}

.form-control {
  border: 2px solid #F4DECB;
  width: 98%;
  height: 120px;
  color: #333333;
  font-size: 16px;
  padding: 3px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.journal-entry-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  border-radius: 5px;
  margin: 45px auto;
  width: 80%;
}

.fa-quote-left {
  padding: .2em .25em .15em;
  border: solid 3px #9099A2;
  border-radius: .2em;
  float: left;
  margin-right: 1em;
  margin-left: 2em;
}

.journal-entries-list-container li {
  padding: 15px;
  margin: 5px;
  border-radius: 3px;
  background: #BFD8D2;
  text-align: justify;
}

.journal-entries-list-container li:hover {
  background: #DF744A;
}

.journal-entries-list-container li .timestamp {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: 11px;
}

.create-journal-button {
  padding: 5px;
  font-size: 16px;
  margin-top: 0px;
  margin-right: 2px;
  background-color: #DCB239;
  border: 2px solid #F4DECB;
  width: 99%;
}

.create-journal-button:hover {
  background-color: #DF744A;
  border: 2px solid #003399;
  cursor: pointer;
}

.journal-entry-form-container p {
  font-size: 10px;
  color: #9099A2;
}

.goal-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 25px auto;
  width: 500px;
}

.goals-list-container {
  text-align: center;
}

.goals-list-container li {
  padding: 15px;
  background: #BFD8D2;
  border-radius: 3px;
  margin-bottom: 0px;
}

.goals-list-container li:hover {
  background: #DF744A;
}

input[type=checkbox] {
  visibility: hidden;
}

.goal-form-container {
  text-align: center;
}

.goal-form-container input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #F4DECB;
  width: 70%;
}

.goal-form-container button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #DCB239;
  border: 2px solid #F4DECB;
  width: 20%;
}

.goal-form-container button:hover {
  background-color: #DF744A;
  border: 2px solid #003399;
  cursor: pointer;
}

.goal-form-container p {
  font-size: 10px;
  color: #9099A2;
}

.tracker-container {
  padding-top: 40px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.stages-tracker-buttons {
  display: inline-block;
  background: #F4DECB;
  background: -webkit-linear-gradient(#F8EEE7, #F4DECB);
  background: linear-gradient(#F8EEE7, #F4DECB);
  border: 1px solid #F4DECB;
  border-radius: 1000px;
  width: 170px;
  height: 50px;
  color: #000000;
  font: normal 300 24px/50px 'Lora', serif;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}